.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  justify-content: center;
  width: auto;
  padding: 10rem;
}
.display{
  display: flex;
}
.image{
 justify-content: center;
 height: 50px;
 width: 50px;
 width: auto;
}

.dropdown{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  max-height: 300px;
  /* max-width: 300px; */
  overflow-y: scroll;
  margin-top: 1rem;
  /* margin: 1rem 5rem 0rem 5rem; */

}

.item{
  background-color: gray;
}
.resultList{
  padding: 10px 20px;
}
.resultList:hover{
  background-color: #efefef;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
